.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vendor/
composer.lock
pkg/
cbuild
**/.DS_Store
/test/
main
output/
manifest/config/config.yaml
manifest/output/
resource/log/
resource/public/admin/
resource/public/attachment/
resource/ssl/server.crt
resource/ssl/server.key
temp/
main.exe
main.exe~
*.exe
*.log
*.zip
.idea
!hotgo/
*.lock
/bin/package.sh
