.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vendor/
composer.lock
pkg/
cbuild
**/.DS_Store
/test/
main
output/
manifest/config/config.yaml
manifest/output/
resource/log/
resource/public/admin/
resource/public/attachment/
storage/cache/
storage/diskqueue/
storage/cert/ssl/server.crt
storage/cert/ssl/server.key
storage/cert/pay/alipay/
storage/cert/pay/wxpay/
temp/
logs/
main.exe
main.exe~
*.exe
*.log
*.zip
.idea
!hotgo/
*.lock
/bin/package.sh
