.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
runtime/log/logger/*.log
runtime/log/logger/exception/*.log
runtime/log/logger/queue/*.log
runtime/log/server/*.log
runtime/log/server/access/*.log
runtime/log/server/error/*.log
bin/
*/.DS_Store
.vscode
main.exe
main.exe~
hotgo.exe